<<<<<<< HEAD
@import "zeroing.scss";

$primaryColor: #fff;

$addColor: #ff2020;

body {
	background: url(../images/background.png);
	// width: 100vw

	overflow-x: hidden;
}

.wrapper {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	height: 100%;
}

.container {
	width: 1328px;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;

	margin: 0 auto;
	padding: 0 24px;

	@media (max-width: 1010px) {
		justify-content: space-between;
	}
}

.header {
	// position: relative;
	min-height: 84px;

	&__gradient {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		z-index: -1;
		width: 1074px;
		height: 676px;
		top: -254px;

		@media (max-width: 767px) {
			top: -296px;
		}
		max-width: 100vw;
	}
	&__container {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;
		align-items: center;
		-ms-flex-align: center;
		max-width: 100%;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		@media (max-width: 767px) {
		}
	}
	padding: 24px 0 0 0;
	// .header__logo
	&__logo {
		margin: 0 64px 0 0;
		flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		-moz-box-flex: 0 0 auto;
		-webkit-box-flex: 0 0 auto;
		z-index: 10;
		@media (max-width: 1130px) {
			width: 135px;
			height: 48px;
			margin: 0 30px 0 0;
		}

		@media (max-width: 767px) {
			order: 1;
		}
	}
	&__menu {
		flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		-moz-box-flex: 1 0 auto;
		-webkit-box-flex: 1 0 auto;

		@media (max-width: 1010px) {
			display: none;
		}
	}
	// .header__menu-list
	&__menu-list {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;
	}
	// .header__menu-item
	&__menu-item {
		margin: 0 32px 0 0;
		position: relative;
		&:last-of-type {
			margin: 0;
		}
		a {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 21px;
			/* identical to box height */

			color: $primaryColor;
		}
 
		&::after
		{
			content: "";
			opacity: 0;
			transition: 0.5s;
		}
		&:hover
		{
			&::after
			{   
				content: "";
				position: absolute;
				width:100%;
				background: $addColor;
				height: 2px;
				left:0;
				bottom: -7px;
				opacity: 1;
				
			}
		}
	}
	// .header__money-list
	&__money-list {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;
		z-index: 10;
		margin: 0 20px 0 0;
		gap: 6px;
		flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		-moz-box-flex: 0 0 auto;
		-webkit-box-flex: 0 0 auto;
	    

		@media (max-width: 767px) {
			width: 100%;
			order: 3;
			margin: 22px 0 0 0;
			display: grid;

			grid-template-columns: 37.6% 37.6% auto;
		}
	}
	// .header__money-item
	&__money-item {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		padding: 6px 12px;
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		background: rgba(48, 48, 48, 0.75);
		border-radius: 8px;

		color: #ffffff;
		span {
			color: $addColor;
			margin: 0 6px 0 0;

			@media (max-width: 767px) {
				line-height: 18px;
				margin: 0 0px 0 0;
			}
		}

		@media (max-width: 767px) {
			div {
				text-align: center;
			}
			word-wrap: break-word;
			padding: 6px;
			white-space: wrap;
			justify-content: center;
			align-items: center;
			-ms-flex-align: center;
		}
	}
	&__btn {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		align-items: center;
		-ms-flex-align: center;
		z-index: 10;
		@media (max-width: 767px) {
			order: 2;
		}
	}
	// .header__btn-twitter
	&__btn-twitter {
		flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		-moz-box-flex: 0 0 auto;
		-webkit-box-flex: 0 0 auto;
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		/* identical to box height */

		color: $primaryColor;

		min-width: 163px;
		min-height: 40px;

		border: 1px solid $primaryColor;
		border-radius: 24px;
		background: none;

		i {
			color: $primaryColor;
			margin: 0 12px 0 0;

			@media (max-width: 1200px) {
				margin: 0;
			}
		}

		@media (max-width: 1200px) {
			span {
				display: none;
			}
			min-height: 40px;
			min-width: 40px;
			border-radius: 100%;

			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			align-items: center;
			-ms-flex-align: center;
			justify-content: center;
		}
	}
}

.burger {
	// .burger__btn
	&__btn {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border: 1px solid $primaryColor;
		margin: 0 0 0 12px;
		flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		-moz-box-flex: 0 0 auto;
		-webkit-box-flex: 0 0 auto;
		position: relative;
		display: none;
        cursor: pointer;
		@media (max-width: 1010px) {
			display: block;
		}
		&::before {
			content: "";
			width: 16px;
			height: 2px;
			background-color: $primaryColor;
			position: absolute;
			top: 16px;
			left: 50%;
			transform: translate(-50%);
			transition: 0.5s;
		}

		&:after {
			content: "";
			width: 16px;
			height: 2px;
			background-color: $primaryColor;
			position: absolute;
			bottom: 16px;
			left: 50%;
			transform: translate(-50%);
			transition: 0.5s;
		}
	}

	// .burger__menu
	&__menu {
		position: fixed;
		background-color: #000;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		z-index: 5;
		transition: 1s;
		display: none;
		@media (max-width: 1010px) {
			display: block;
		}
	}
	// .burger__menu-list
	&__menu-list {
		top: 50%;
		position: relative;
		transform: translateY(-50%);
		text-align: center;
	}
	// .burger__menu-item
	&__menu-item {
		font-family: "Play";
		font-style: normal;
	
		font-weight: 700;
		font-size: 48px;
		line-height: 56px;
		/* identical to box height */
		a {
			color: $primaryColor;
			position: relative;

			&::after
			{
				content: "";
				opacity: 0;
			}
			&:hover
			{
				&::after
				{   
					content: "";
					position: absolute;
					width:100%;
					background: $addColor;
					height: 2px;
					left:0;
					bottom: -7px;
					transition: 0.5s;
					opacity: 1;
				}
			}
			
		}
		margin: 0 0 32px 0;

		
	
	}
	// .burger__footer
	&__footer {
		flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		-moz-box-flex: 0 0 auto;
		-webkit-box-flex: 0 0 auto;
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: center;

		color: #7c7c7c;
		position: absolute;
		bottom: 31px;
		left: 50%;
		transform: translate(-50%);
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;

		align-items: center;
		-ms-flex-align: center;
	}
	// .burger__social-links
	&__social-links {
		margin: 0 0 36px 0;

		display: flex;

		flex-direction: row;
		display: -ms-flexbox;
		display: -webkit-flex;

		-ms-flex-direction: row;

		i {
			color: $addColor;
		}
	}
	// .burger__social-links-item
	&__social-links-item {
		margin: 0 16px 0 0;

		&:last-of-type {
			margin: 0;
		}

		&:nth-of-type(2) {
			width: 20px;
			height: 16px;
		}
	}
}

main {
	flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	-moz-box-flex: 1 0 auto;
	-webkit-box-flex: 1 0 auto;
}

.first-block {
	position: relative;
	width: 100%;
	// .first-block__container
	&__container {
		display: flex;
		flex-direction: row;
		display: -ms-flexbox;
		display: -webkit-flex;
		-ms-flex-direction: row;
		align-items: center;
		-ms-flex-align: center;
		max-width: 100%;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		@media (max-width: 767px) {
		}
		position: relative;
	}
	img {
		left: 50%;
		transform: translate(-50%);
		position: absolute;
		top: -21px;
		max-width: 100%;

		@media (max-width: 1010px) {
			position: static;
			transform: none;
		}

		@media (max-width: 767px) {
			max-width: 105%;
			margin-left: -5%;

			max-width: 111%;
			margin-left: -11%;
		}
		// @media (max-width:1160px) {
		// 	position: static;
		// }
	}
	&__info {
		display: block;
		position: relative;
		margin-top: 425px;
		margin-left: calc(50% - 557px / 2 + 278.5px);

		@media (max-width: 1170px) {
			position: static;

			transform: translate(-50%);
			margin: 475px 0 0 50%;
			text-align: center;
		}
		@media (max-width: 1010px) {
			margin: -195px 0 0 50%;
			// transform: translate(-50%, -195px);
		}

		@media (max-width: 600px) {
			margin: -105px 0 0 50%;
		}
	}
	h1 {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 96px;
		line-height: 111px;
		/* identical to box height */

		text-transform: uppercase;

		margin: 0 0 24px 0;
		color: $primaryColor;

		@media (max-width: 600px) {
			font-size: 48px;
			line-height: 56px;
		}
		span {
			display: block;
			color: $addColor;
		}
	}

	&__subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		/* or 133% */

		color: $primaryColor;

		margin: 0 0 48px 0;
		max-width: 468px;
		@media (max-width: 1170px) {
			max-width: 100%;
			padding: 0 10px;
		}
		span {
			color: $addColor;
		}
	}

	button {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		/* identical to box height, or 133% */

		text-transform: uppercase;

		color: $primaryColor;

		min-width: 161px;
		min-height: 48px;

		background: $addColor;
		box-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
		border-radius: 4px;
		border: none;
	}
}

.quote {
	position: relative;
	@media (max-width: 1170px) {
		margin: 44px 0 0 0;
	}
	img {
		position: relative;
		margin-top: -44px;
		margin-left: -40px;
		margin-right: 70px;
		@media (max-width: 1170px) {
			margin: 0px 0 0 0;
		}

		@media (max-width: 1170px) {
			margin: 0px 0 0 0px;

			width: 395px;
			height: 453px;
		}

		// @media (max-width: 965px) {
		// 	left: -57px;

		// }

		@media (max-width: 965px) {
			left: calc(30% - 395px / 2 - 103px);
			position: absolute;
		}

		@media (max-width: 578px) {
			position: absolute;
			left: -115px;
		}
	}
	// .quote__container
	&__container {
		justify-content: flex-end;
		max-width: 100%;
	}
	// .quote__text
	&__text {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		@media (max-width: 1090px) {
			flex-direction: column;
		}
		@media (max-width: 965px) {
			max-width: 320px;
			// max-width:60%;

			// margin: 0;
		}

		@media (max-width: 965px) {
			font-size: 18px;
			line-height: 26px;
		}

		@media (max-width: 578px) {
			max-width: 50%;
		}
		span {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 96px;
			line-height: 111px;
			/* identical to box height */

			color: $addColor;

			text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);

			margin: -48px 17px 0 0;

			@media (max-width: 1090px) {
				margin: 0px 0px 0 0;
			}
		}

		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 48px;
		/* or 133% */

		color: $primaryColor;
		margin: 167px 0 0 0;
		// @media (max-width:965px)
		// {
		// 	margin: 0;
		// }
		p {
			margin: -12px 0 0 0;
		}
	}
}

.roadmap {
	img {
		@media (max-width: 1400px) {
			display: none;
		}
	}
	margin: 232px 0 0 0;

	@media (max-width: 1400px) {
		margin: 74px 0 0 0;
	}
	// .roadmap__container
	&__container {
		max-width: 100%;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;
		align-items: center;
		-ms-flex-align: center;
	    position: relative;
		
	}

	&__title {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 74px;
		/* identical to box height */

		color: $addColor;

		text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);

		max-width: 294px;
		position: absolute;
		top: 221px;
		left: 24px;

		@media (max-width: 1400px) {
			position: static;
			text-align: center;
			margin: 0 0 48px 0;
			max-width: 100%;
		}

		@media (max-width: 767px) {
			font-size: 48px;
			line-height: 56px;
		}
	}

	&__subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		/* or 120% */
		margin: 24px 0 0px 0;

		color: $primaryColor;

		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	// .roadmap__stage
	&__stage {
		max-width: 327px;

		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;
	
		
	
		@media (max-width:1400px) {
			position: relative;
		}
	}
	// .roadmap__stage-item
	&__stage-item {
		position: absolute;

		@media (max-width: 1400px) {
			position: static;
			width: 100%;
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			justify-content: flex-end;
			flex-direction: row-reverse;
		}
		.roadmap__stage-subtitle {
			margin: 12px 0 0 0;
		}
		&:nth-of-type(1) {
			top: -148px;
			left: 250px;

			.roadmap__stage-title {
				margin: 0 0 10px 0;
				max-width: 277px;
			}
		}

		&:nth-of-type(2) {
			top: -71px;
			left: 560px;

			.roadmap__stage-title {
				margin: 0 0 15px 0;
				max-width: 252px;
			}
		}

		&:nth-of-type(3) {
			top: 73px;
			left: 618px;

			.roadmap__stage-title {
				margin: 0 0 38px 0;
				max-width: 245px;
			}
		}

		&:nth-of-type(4) {
			right: 136px;
			top: 62px;
			.roadmap__stage-title {
				margin: 0 0 17px 0;
				max-width: 226px;
			}
		}

		&:nth-of-type(5) {
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			.roadmap__point {
				margin: 24px 12px 0 0;
			}

			.roadmap__stage-title {
				max-width: 171px;
			}
			right: 53px;
			top: 266px;
		}

		&:nth-of-type(6) {
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-direction: row;
			-ms-flex-direction: row;

			@media (max-width: 1400px) {
				flex-direction: row-reverse;
				-ms-flex-direction: row-reverse;
			}
			.roadmap__point {
				margin: 27px 0px 0 16px;
			}

			.roadmap__stage-title {
				text-align: right;
				max-width: 201px;
			}
			top: 413px;
			left: 343px;
		}

		@media (max-width: 1400px) {
			margin: 0 0 32px 0;
			&:last-of-type {
				margin: 0;
			}
		}
	}
	// .roadmap__stage-title
	&__stage-title {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		/* identical to box height */
		@media (max-width: 1400px) {
			margin: 0 0 0 26px !important;
			text-align: left !important;
		}
		color: $primaryColor;

		&:nth-of-type(4) {
		}

		&:nth-of-type(5) {
		}

		&:nth-of-type(6) {
		}
	}
	// .roadmap__stage-subtitle
	&__stage-subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		/* or 133% */
		display: block;
		color: $primaryColor;
	}
	// .roadmap__point
	&__point {
		min-width: 24px;
		min-height: 24px;
		max-width: 24px;
		max-height: 24px;
		background-color: $addColor;
		box-shadow: 0px 0px 24px #ff2020;
		position: relative;
		border-radius: 100%;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);
			min-width: 10px;
			min-height: 10px;
			max-width: 10px;
			max-height: 10px;

			background: $primaryColor;
			border-radius: 100%;
		}

		@media (max-width: 1400px) {
			margin: 10px 0 0 0 !important;
		}
	}

	&__border
	{
		display: none;
		@media (max-width:1400px) {
			display: block;
			z-index: -1;
			position: absolute;
			width: 2px;
			height:calc(100% - 108px);
			background: $addColor;
			left:10px;
			top:10px
		}
	}
}

.question {
	margin: 152px 0 0 0;

	min-height: 746px;

	h4 {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 96px;
		line-height: 111px;
		/* identical to box height */

		color: $primaryColor;

		order: 2;
		span {
			display: block;
			color: $addColor;
		}

		@media (max-width: 1440px) {
			order: 1;
		}
		text-align: center;

		@media (max-width: 767px) {
			font-size: 48px;
			line-height: 56px;
		}
	}
	// .question__container
	&__container {
		max-width: 100%;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;
		justify-content: space-between;

		@media (max-width: 1440px) {
			flex-direction: column;
			-ms-flex-direction: column;
			align-items: center;
			-ms-flex-align: center;
		}
	}

	// .question__jekyll
	&__jekyll {
		@media (max-width: 1440px) {
			order: 2;
			text-align: center;
			margin: 0px 0px 0 0;

			img {
				width: 71%;
			}
		}
		order: 1;
		margin: 46px 39px 0 0;
		position: relative;
	}
	// .question__jekyll-text
	&__jekyll-text {
		text-align: left;
		position: absolute;
		min-width: 253px;
		max-width: 100%;
		top: 436px;
		left: 336px;
		h6 {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 24px;
			/* identical to box height, or 67% */

			text-transform: uppercase;
			margin: 0 0 24px 0;
			color: #2094ff;
		}

		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 20px;
			min-width: 0px;
		}
		/* or 133% */

		color: $primaryColor;

		@media (max-width: 1440px) {
			position: static;
			text-align: center;
		}
	}
	// .question__hyde
	&__hyde {
		order: 3;
		margin: 56px 0 0 18px;
		position: relative;

		@media (max-width: 1440px) {
			text-align: center;
			margin: 0px 0px 0 0;
		}

		@media (max-width: 506px) {
			img {
				width: 88.9%;
			}
		}
	}
	// .question__hyde-text
	&__hyde-text {
		text-align: right;
		min-width: 380px;
		max-width: 100%;
		position: absolute;
		top: 426px;
		right: 257px;
		h6 {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 24px;
			/* identical to box height, or 67% */

			text-transform: uppercase;
			margin: 0 0 24px 0;
			color: $addColor;
		}

		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		/* or 133% */

		color: $primaryColor;

		@media (max-width: 1440px) {
			text-align: center;
			position: static;
		}

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 20px;
			min-width: 0px;
		}

		a {
			color: $addColor;
		}
	}
}

.prescription {
	@media (max-width: 1230px) {
		margin: -70px 0 0 0;
	}

	@media (max-width: 767px) {
		margin: 0px 0 0 0;
		overflow: hidden;
	}

	// .prescription__container
	&__container {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;

		justify-content: center;

		position: relative;

		max-width: 100%;

		@media (max-width: 1230px) {
			flex-direction: column;
			-ms-flex-direction: column;
			align-items: center;
			-ms-flex-align: center;
			justify-content: flex-start;
			
		}

		picture {
			margin: 160px 0 0 0;
			max-width: 100%;
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			align-items: center;
			-ms-flex-align: center;

			@media (max-width: 1230px) {
				margin: -45px 0 -80px 0;
			}

			img,
			source {
				display: block;
				@media (max-width: 767px) {
					width: 100%;
					margin: 0;
				}
			}

			@media (max-width: 767px) {
				margin: 360px 0 0 0;
			}
		}

		// img {

		// 	&:nth-of-type(2) {
		// 		margin: 160px 0 0 0;
		//         max-width: 100%;
		// 		@media (max-width: 1230px) {
		// 			margin: -45px 0 -80px 0;
		// 		}
		// 	}

		// }
	}

	&__man-1 {
		position: absolute;
		top: -40px;
		right: -18px;

		@media (max-width: 1230px) {
			position: static;
		}

		@media (max-width: 767px) {
			position: absolute;
			right: -89px;
			top: -82px;
			z-index: -1;
		}
	}

	&__man-2 {
		position: absolute;

		top: 700px;
		left: -86px;
		max-width: 100%;

		@media (max-width: 1230px) {
			position: static;
		}

		@media (max-width: 767px) {
			position: static;
			top: 750px;
			margin: -43px 0 0 calc(50% - 120px / 2 + 75.5px);
		}
	}
}

.hyde-nation {
	margin: 226px 0 0 0;

	@media (max-width: 767px) {
		margin: -32px 0 0 0;
	}
	// .hyde-nation__container
	&__container {
		display: flex;

		display: -ms-flexbox;

		display: -webkit-flex;
		// justify-content: space-between;
		max-width: 100%;

		@media (max-width: 1172px) {
			flex-direction: column;
			-ms-flex-direction: column;
			text-align: center;
			align-items: center;
			-ms-flex-align: center;
		}
	}
	// .hyde-nation__title
	&__title {
		margin: 0 63px 0 0;

		h4 {
			max-width: 640px;
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 96px;
			line-height: 111px;

			color: $addColor;

			text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
			margin: 0 0 32px 0;

			@media (max-width: 1172px) {
				max-width: 100%;
				margin: 0 0 24px 0;
			}

			@media (max-width: 767px) {
				font-size: 48px;
				line-height: 56px;
			}
		}
		@media (max-width: 1172px) {
			margin: 0 0 24px 0;
			order: 2;
		}
	}
	// .hyde-nation__subtitle
	&__subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		/* or 150% */

		color: $primaryColor;

		max-width: 520px;

		@media (max-width: 1172px) {
			max-width: 100%;
		}
	}

	img {
		max-width: 100%;
		width: 514px;
		@media (max-width: 1172px) {
			order: 1;
			margin: 0 0 24px 0;
		}
	}
}

.percent {
	margin: 105px 0 0 0;
	// .percent__container
	&__container {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		max-width: 100%;
		align-items: center;
		-ms-flex-align: center;
		justify-content: space-between;

		@media (max-width: 767px) {
			flex-direction: column;
			-ms-flex-direction: column;
		}
	}
	// .percent__pie
	&__pie {
		margin: 0px 30px 0 109px;

		@media (max-width: 1310px) {
			margin: 0px 30px 0 0px;
		}

		@media (max-width: 767px) {
			margin: 0 0 48px 0;
		}

		img {
			@media (max-width: 767px) {
				max-width: 100%;
			}
		}
	}
	// .percent__info
	&__info {
		max-width: 640px;

		@media (max-width: 767px) {
			max-width: 100%;
		}
	}
	// .percent__text
	&__text {
		width: 100%;
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		/* or 150% */

		color: $primaryColor;
		margin: 0 0 60px 0;
	}
	// .percent__list
	&__list {
		max-width: 100%;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: center;
		-ms-flex-align: center;
		// max-width: 560px;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	}
	// .percent__item
	&__item {
		margin: 0 10px 0 0;

		@media (max-width: 978px) {
			width: 33%;
			text-align: center;
		}

		@media (max-width: 767px) {
			width: calc(50%-10px);
		}

		&:last-of-type {
			margin: 0;
		}
		span {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;

			/* identical to box height */

			color: #ff2020;

			text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
			display: block;
		}

		&:nth-of-type(1) {
			span {
				font-size: 64px;
				line-height: 74px;
				margin: 0 0 4px 0;
			}
		}

		&:nth-of-type(2) {
			span {
				font-size: 54px;
				line-height: 62px;
				margin: 12px 0 4px 0;
			}
		}

		&:nth-of-type(3) {
			span {
				font-size: 48px;
				line-height: 56px;
				margin: 17px 0 5px 0;
			}

			@media (max-width: 978px) {
				margin: 0 0 0 0;
			}
		}

		&:nth-of-type(4) {
			@media (max-width: 978px) {
				margin: 0 14px 0 0;
			}
			span {
				font-size: 40px;
				line-height: 46px;
				margin: 25px 0 7px 0;
			}
		}

		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		/* identical to box height */

		color: #ffffff;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		-ms-flex-direction: column;
	}
}

.design {
	margin: 230px 0 0 0;
	@media (max-width: 1310px) {
		margin: 135px 0 0 0;
	}
	// .design__container
	&__container {
		max-width: 100%;
		position: relative;
		@media (max-width: 1310px) {
			flex-direction: column;
			align-items: center;
			-ms-flex-align: center;;
		}
	}
	// .design__block-1
	&__block-1 {
		max-width: 514px;
		margin: 0 74px 0 52px;
		@media (max-width: 1310px) {
			margin: 0 0px 32px 0px;
			max-width: 100%;
		}
	}
	// .design__title
	&__title {
		span {
			color: $addColor;
			display: block;
			margin: 0 0 -16px 0;
			@media (max-width: 767px) {
				margin: 0;
			}
		}
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 96px;
		line-height: 111px;
		/* identical to box height */
		margin: 0 0 51px 0;

		@media (max-width: 1310px) {
			margin: 0 0 32px 0;
		}

		@media (max-width: 767px) {
			font-size: 48px;
			line-height: 56px;
		}

		color: $primaryColor;
		@media (max-width: 1310px) {
			text-align: center;
		}
	}
	// .design__georgiy
	&__georgiy {
		position: absolute;
		right: 0;
		top: 0;
        max-width:41%;
		@media (max-width: 1310px) {
			position: static;
			margin: 0 0 32px 0;
		}
	}
	// .design__subtitle
	&__subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		/* or 150% */
		max-width: 426px;

		color: $primaryColor;

		span {
			color: $addColor;
		}
		@media (max-width: 1310px) {
			text-align: center;
		}
	}
	&__block-2 {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;
		@media (max-width: 1310px) {
			align-items: center;
			-ms-flex-align: center;
		}
	}
}

.twitter {
	// .twitter__container
	margin: 292px 0 0 0;
	@media (max-width: 1530px) {
		margin: 24px 0 0 0;
		overflow: hidden;
	}
	// overflow: hidden;
	&__container {
		max-width: 100%;
		flex-direction: row;

		-ms-flex-direction: row;
		position: relative;

		@media (max-width: 1530px) {
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-direction: column;
			-ms-flex-direction: column;
		}
	}
	// .twitter__feed
	&__feed {
		max-width: 223px;
		text-align: left;
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 74px;
		margin: 0 137px 0 0;
		color: $primaryColor;
		@media (max-width: 1530px) {
			max-width: 100%;
			text-align: center;
			margin: 0px 0 32px 0;
		}

		@media (max-width: 767px) {
			font-size: 48px;
			line-height: 56px;
		}
		i {
			display: block;
			margin: 0 0 19px 0;
			color: $addColor;
		}
	}
	// .twitter__page
	&__page {
		min-width: 560px;
		min-height: 763px;
		background: $addColor;
		border-radius: 8px;

		@media (max-width: 1530px) {
			min-width: 0px;
			min-height: 0px;
			max-width: 100%;
			aspect-ratio: 0.73;
		}
	}
	img {
		position: absolute;
		right: -96px;
		top: -280px;
		z-index: -1;

		@media (max-width: 1530px) {
			position: static;
			margin: 0px 0 -100px -9.1%;
		}
	}
}

.footer {
	margin: 115px 0 0px 0;
	padding: 0 0 100px 0;

	@media (max-width: 767px) {
		margin: 71px 0 0px 0;
		padding: 0 0 49px 0;
	}
	// .footer__container
	&__container {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		justify-content: space-between;
		max-width: 100%;

		@media (max-width: 767px) {
			flex-direction: column;
			-ms-flex-direction: column;
			align-items: center;
			-ms-flex-align: center;
		}
	}
	// .footer__logo
	&__logo {
		margin: 0 0 39px 0;
	}
	// .footer__social-links
	&__social-links {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: right;

		color: #7c7c7c;

		@media (max-width: 767px) {
			text-align: center;
		}

		ul {
			margin: 0 0 20px 0;
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-direction: row;
			-ms-flex-direction: row;
			justify-content: flex-end;
			@media (max-width: 767px) {
				justify-content: center;
			}
		}

		li {
			margin: 0 16px 0 0;
			&:last-of-type {
				margin: 0;
			}

			i {
				color: $addColor;
			}
		}
	}
}

.burger__btn.active {
	&::before {
		content: "";
		transform: rotate(-45deg);
		top: 18px;
		left: 11px;
	}
	&::after {
		content: "";
		transform: rotate(45deg);
		top: 18px;
		left: 12px;
	}
}

.burger__menu.active {
	left: 0;
	top: 0;
	overflow: auto;
}

body.active {
	overflow: hidden;
}
=======
@import "zeroing.scss";

$primaryColor: #fff;

$addColor: #ff2020;

body {
	background: url(../images/background.png);
	// width: 100vw

	overflow-x: hidden;
}

html {
}

.wrapper {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	height: 100%;
}

.container {
	width: 1328px;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;

	margin: 0 auto;
	padding: 0 24px;

	@media (max-width: 1010px) {
		justify-content: space-between;
	}
}

.header {
	// position: relative;
	min-height: 84px;

	&__gradient {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		z-index: -1;
		width: 1074px;
		height: 676px;
		top: -254px;

		@media (max-width: 767px) {
			top: -296px;
		}
		max-width: 100vw;
	}
	&__container {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;
		align-items: center;
		max-width: 100%;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		@media (max-width: 767px) {
		}
	}
	padding: 24px 0 0 0;
	// .header__logo
	&__logo {
		margin: 0 64px 0 0;
		flex: 0 0 auto;
		z-index: 10;
		@media (max-width: 1130px) {
			width: 135px;
			height: 48px;
			margin: 0 30px 0 0;
		}

		@media (max-width: 767px) {
			order: 1;
		}
	}
	&__menu {
		flex: 1 0 auto;

		@media (max-width: 1010px) {
			display: none;
		}
	}
	// .header__menu-list
	&__menu-list {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;
	}
	// .header__menu-item
	&__menu-item {
		margin: 0 32px 0 0;
		position: relative;
		&:last-of-type {
			margin: 0;
		}
		a {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 21px;
			/* identical to box height */

			color: $primaryColor;
		}
 
		&::after
		{
			content: "";
			opacity: 0;
			transition: 0.5s;
		}
		&:hover
		{
			&::after
			{   
				content: "";
				position: absolute;
				width:100%;
				background: $addColor;
				height: 2px;
				left:0;
				bottom: -7px;
				opacity: 1;
				
			}
		}
	}
	// .header__money-list
	&__money-list {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;
		z-index: 10;
		margin: 0 20px 0 0;
		gap: 6px;
		flex: 0 0 auto;

		@media (max-width: 767px) {
			width: 100%;
			order: 3;
			margin: 22px 0 0 0;
			display: grid;

			grid-template-columns: 37.6% 37.6% auto;
		}

		// @media (max-width:940px)
		// {
		// 	flex:1 0 auto;
		// }
	}
	// .header__money-item
	&__money-item {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		padding: 6px 12px;
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		background: rgba(48, 48, 48, 0.75);
		border-radius: 8px;

		color: #ffffff;
		span {
			color: $addColor;
			margin: 0 6px 0 0;

			@media (max-width: 767px) {
				line-height: 18px;
				margin: 0 0px 0 0;
			}
		}

		@media (max-width: 767px) {
			div {
				text-align: center;
			}
			word-wrap: break-word;
			padding: 6px;
			white-space: wrap;
			justify-content: center;
			align-items: center;
		}
	}
	&__btn {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		align-items: center;
		z-index: 10;
		@media (max-width: 767px) {
			order: 2;
		}
	}
	// .header__btn-twitter
	&__btn-twitter {
		flex: 0 0 auto;
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		/* identical to box height */

		color: $primaryColor;

		min-width: 163px;
		min-height: 40px;

		border: 1px solid $primaryColor;
		border-radius: 24px;
		background: none;

		i {
			color: $primaryColor;
			margin: 0 12px 0 0;

			@media (max-width: 1200px) {
				margin: 0;
			}
		}

		@media (max-width: 1200px) {
			span {
				display: none;
			}
			min-height: 40px;
			min-width: 40px;
			border-radius: 100%;

			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.burger {
	// .burger__btn
	&__btn {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border: 1px solid $primaryColor;
		margin: 0 0 0 12px;
		flex: 0 0 auto;
		position: relative;
		display: none;
        cursor: pointer;
		@media (max-width: 1010px) {
			display: block;
		}
		&::before {
			content: "";
			width: 16px;
			height: 2px;
			background-color: $primaryColor;
			position: absolute;
			top: 16px;
			left: 50%;
			transform: translate(-50%);
			transition: 0.5s;
		}

		&:after {
			content: "";
			width: 16px;
			height: 2px;
			background-color: $primaryColor;
			position: absolute;
			bottom: 16px;
			left: 50%;
			transform: translate(-50%);
			transition: 0.5s;
		}
	}

	// .burger__menu
	&__menu {
		position: fixed;
		background-color: #000;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		z-index: 5;
		transition: 1s;
		display: none;
		@media (max-width: 1010px) {
			display: block;
		}
	}
	// .burger__menu-list
	&__menu-list {
		top: 50%;
		position: relative;
		transform: translateY(-50%);
		text-align: center;
	}
	// .burger__menu-item
	&__menu-item {
		font-family: "Play";
		font-style: normal;
	
		font-weight: 700;
		font-size: 48px;
		line-height: 56px;
		/* identical to box height */
		a {
			color: $primaryColor;
			position: relative;

			&::after
			{
				content: "";
				opacity: 0;
			}
			&:hover
			{
				&::after
				{   
					content: "";
					position: absolute;
					width:100%;
					background: $addColor;
					height: 2px;
					left:0;
					bottom: -7px;
					transition: 0.5s;
					opacity: 1;
				}
			}
			
		}
		margin: 0 0 32px 0;

		
	
	}
	// .burger__footer
	&__footer {
		flex: 0 0 auto;
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: center;

		color: #7c7c7c;
		position: absolute;
		bottom: 31px;
		left: 50%;
		transform: translate(-50%);
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;

		align-items: center;
	}
	// .burger__social-links
	&__social-links {
		margin: 0 0 36px 0;

		display: flex;

		flex-direction: row;
		display: -ms-flexbox;
		display: -webkit-flex;

		-ms-flex-direction: row;

		i {
			color: $addColor;
		}
	}
	// .burger__social-links-item
	&__social-links-item {
		margin: 0 16px 0 0;

		&:last-of-type {
			margin: 0;
		}

		&:nth-of-type(2) {
			width: 20px;
			height: 16px;
		}
	}
}

main {
	flex: 1 0 auto;
}

.first-block {
	position: relative;
	width: 100%;
	// .first-block__container
	&__container {
		display: flex;
		flex-direction: row;
		display: -ms-flexbox;
		display: -webkit-flex;
		-ms-flex-direction: row;
		align-items: center;
		max-width: 100%;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		@media (max-width: 767px) {
		}
		position: relative;
	}
	img {
		left: 50%;
		transform: translate(-50%);
		position: absolute;
		top: -21px;
		max-width: 100%;

		@media (max-width: 1010px) {
			position: static;
			transform: none;
		}

		@media (max-width: 767px) {
			max-width: 105%;
			margin-left: -5%;

			max-width: 111%;
			margin-left: -11%;
		}
		// @media (max-width:1160px) {
		// 	position: static;
		// }
	}
	&__info {
		display: block;
		position: relative;
		margin-top: 425px;
		margin-left: calc(50% - 557px / 2 + 278.5px);

		@media (max-width: 1170px) {
			position: static;

			transform: translate(-50%);
			margin: 475px 0 0 50%;
			text-align: center;
		}
		@media (max-width: 1010px) {
			margin: -195px 0 0 50%;
			// transform: translate(-50%, -195px);
		}

		@media (max-width: 600px) {
			margin: -105px 0 0 50%;
		}
	}
	h1 {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 96px;
		line-height: 111px;
		/* identical to box height */

		text-transform: uppercase;

		margin: 0 0 24px 0;
		color: $primaryColor;

		@media (max-width: 600px) {
			font-size: 48px;
			line-height: 56px;
		}
		span {
			display: block;
			color: $addColor;
		}
	}

	&__subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		/* or 133% */

		color: $primaryColor;

		margin: 0 0 48px 0;
		max-width: 468px;
		@media (max-width: 1170px) {
			max-width: 100%;
			padding: 0 10px;
		}
		span {
			color: $addColor;
		}
	}

	button {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		/* identical to box height, or 133% */

		text-transform: uppercase;

		color: $primaryColor;

		min-width: 161px;
		min-height: 48px;

		background: $addColor;
		box-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
		border-radius: 4px;
		border: none;
	}
}

.quote {
	position: relative;
	@media (max-width: 1170px) {
		margin: 44px 0 0 0;
	}
	img {
		position: relative;
		margin-top: -44px;
		margin-left: -40px;
		margin-right: 70px;
		@media (max-width: 1170px) {
			margin: 0px 0 0 0;
		}

		@media (max-width: 1170px) {
			margin: 0px 0 0 0px;

			width: 395px;
			height: 453px;
		}

		// @media (max-width: 965px) {
		// 	left: -57px;

		// }

		@media (max-width: 965px) {
			left: calc(30% - 395px / 2 - 103px);
			position: absolute;
		}

		@media (max-width: 578px) {
			position: absolute;
			left: -115px;
		}
	}
	// .quote__container
	&__container {
		justify-content: flex-end;
		max-width: 100%;
	}
	// .quote__text
	&__text {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		@media (max-width: 1090px) {
			flex-direction: column;
		}
		@media (max-width: 965px) {
			max-width: 320px;
			// max-width:60%;

			// margin: 0;
		}

		@media (max-width: 965px) {
			font-size: 18px;
			line-height: 26px;
		}

		@media (max-width: 578px) {
			max-width: 50%;
		}
		span {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 96px;
			line-height: 111px;
			/* identical to box height */

			color: $addColor;

			text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);

			margin: -48px 17px 0 0;

			@media (max-width: 1090px) {
				margin: 0px 0px 0 0;
			}
		}

		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 48px;
		/* or 133% */

		color: $primaryColor;
		margin: 167px 0 0 0;
		// @media (max-width:965px)
		// {
		// 	margin: 0;
		// }
		p {
			margin: -12px 0 0 0;
		}
	}
}

.roadmap {
	img {
		@media (max-width: 1400px) {
			display: none;
		}
	}
	margin: 232px 0 0 0;

	@media (max-width: 1400px) {
		margin: 74px 0 0 0;
	}
	// .roadmap__container
	&__container {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	    position: relative;
		
	}

	&__title {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 74px;
		/* identical to box height */

		color: $addColor;

		text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);

		max-width: 294px;
		position: absolute;
		top: 221px;
		left: 24px;

		@media (max-width: 1400px) {
			position: static;
			text-align: center;
			margin: 0 0 48px 0;
			max-width: 100%;
		}

		@media (max-width: 767px) {
			font-size: 48px;
			line-height: 56px;
		}
	}

	&__subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		/* or 120% */
		margin: 24px 0 0px 0;

		color: $primaryColor;

		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	// .roadmap__stage
	&__stage {
		max-width: 327px;

		display: flex;
		flex-direction: column;
	
		
	
		@media (max-width:1400px) {
			position: relative;
		}
	}
	// .roadmap__stage-item
	&__stage-item {
		position: absolute;

		@media (max-width: 1400px) {
			position: static;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			flex-direction: row-reverse;
		}
		.roadmap__stage-subtitle {
			margin: 12px 0 0 0;
		}
		&:nth-of-type(1) {
			top: -148px;
			left: 250px;

			.roadmap__stage-title {
				margin: 0 0 10px 0;
				max-width: 277px;
			}
		}

		&:nth-of-type(2) {
			top: -71px;
			left: 560px;

			.roadmap__stage-title {
				margin: 0 0 15px 0;
				max-width: 252px;
			}
		}

		&:nth-of-type(3) {
			top: 73px;
			left: 618px;

			.roadmap__stage-title {
				margin: 0 0 38px 0;
				max-width: 245px;
			}
		}

		&:nth-of-type(4) {
			right: 136px;
			top: 62px;
			.roadmap__stage-title {
				margin: 0 0 17px 0;
				max-width: 226px;
			}
		}

		&:nth-of-type(5) {
			display: flex;
			flex-direction: row-reverse;
			.roadmap__point {
				margin: 24px 12px 0 0;
			}

			.roadmap__stage-title {
				max-width: 171px;
			}
			right: 53px;
			top: 266px;
		}

		&:nth-of-type(6) {
			display: flex;
			flex-direction: row;

			@media (max-width: 1400px) {
				flex-direction: row-reverse;
			}
			.roadmap__point {
				margin: 27px 0px 0 16px;
			}

			.roadmap__stage-title {
				text-align: right;
				max-width: 201px;
			}
			top: 413px;
			left: 343px;
		}

		@media (max-width: 1400px) {
			margin: 0 0 32px 0;
			&:last-of-type {
				margin: 0;
			}
		}
	}
	// .roadmap__stage-title
	&__stage-title {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		/* identical to box height */
		@media (max-width: 1400px) {
			margin: 0 0 0 26px !important;
			text-align: left !important;
		}
		color: $primaryColor;

		&:nth-of-type(4) {
		}

		&:nth-of-type(5) {
		}

		&:nth-of-type(6) {
		}
	}
	// .roadmap__stage-subtitle
	&__stage-subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		/* or 133% */
		display: block;
		color: $primaryColor;
	}
	// .roadmap__point
	&__point {
		min-width: 24px;
		min-height: 24px;
		max-width: 24px;
		max-height: 24px;
		background-color: $addColor;
		box-shadow: 0px 0px 24px #ff2020;
		position: relative;
		border-radius: 100%;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);
			min-width: 10px;
			min-height: 10px;
			max-width: 10px;
			max-height: 10px;

			background: $primaryColor;
			border-radius: 100%;
		}

		@media (max-width: 1400px) {
			margin: 10px 0 0 0 !important;
		}
	}

	&__border
	{
		display: none;
		@media (max-width:1400px) {
			display: block;
			z-index: -1;
			position: absolute;
			width: 2px;
			height:calc(100% - 108px);
			background: $addColor;
			left:10px;
			top:10px
		}
	}
}
.container {
}

.container {
}
.subtitle {
}

.question {
	margin: 152px 0 0 0;

	min-height: 746px;

	h4 {
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 96px;
		line-height: 111px;
		/* identical to box height */

		color: $primaryColor;

		order: 2;
		span {
			display: block;
			color: $addColor;
		}

		@media (max-width: 1440px) {
			order: 1;
		}
		text-align: center;

		@media (max-width: 767px) {
			font-size: 48px;
			line-height: 56px;
		}
	}
	// .question__container
	&__container {
		max-width: 100%;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;
		justify-content: space-between;

		@media (max-width: 1440px) {
			flex-direction: column;
			-ms-flex-direction: column;
			align-items: center;
		}
	}

	// .question__jekyll
	&__jekyll {
		@media (max-width: 1440px) {
			order: 2;
			text-align: center;
			margin: 0px 0px 0 0;

			img {
				width: 71%;
			}
		}
		order: 1;
		margin: 46px 39px 0 0;
		position: relative;
	}
	// .question__jekyll-text
	&__jekyll-text {
		text-align: left;
		position: absolute;
		min-width: 253px;
		max-width: 100%;
		top: 436px;
		left: 336px;
		h6 {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 24px;
			/* identical to box height, or 67% */

			text-transform: uppercase;
			margin: 0 0 24px 0;
			color: #2094ff;
		}

		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 20px;
			min-width: 0px;
		}
		/* or 133% */

		color: $primaryColor;

		@media (max-width: 1440px) {
			position: static;
			text-align: center;
		}
	}
	// .question__hyde
	&__hyde {
		order: 3;
		margin: 56px 0 0 18px;
		position: relative;

		@media (max-width: 1440px) {
			text-align: center;
			margin: 0px 0px 0 0;
		}

		@media (max-width: 506px) {
			img {
				width: 88.9%;
			}
		}
	}
	// .question__hyde-text
	&__hyde-text {
		text-align: right;
		min-width: 380px;
		max-width: 100%;
		position: absolute;
		top: 426px;
		right: 257px;
		h6 {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 24px;
			/* identical to box height, or 67% */

			text-transform: uppercase;
			margin: 0 0 24px 0;
			color: $addColor;
		}

		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		/* or 133% */

		color: $primaryColor;

		@media (max-width: 1440px) {
			text-align: center;
			position: static;
		}

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 20px;
			min-width: 0px;
		}

		a {
			color: $addColor;
		}
	}
}

.container {
}

.prescription {
	@media (max-width: 1230px) {
		margin: -70px 0 0 0;
	}

	@media (max-width: 767px) {
		margin: 0px 0 0 0;
		overflow: hidden;
	}

	// .prescription__container
	&__container {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		-ms-flex-direction: row;

		justify-content: center;

		position: relative;

		max-width: 100%;

		@media (max-width: 1230px) {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}

		picture {
			margin: 160px 0 0 0;
			max-width: 100%;
			display: flex;
			align-items: center;
			@media (max-width: 1230px) {
				margin: -45px 0 -80px 0;
			}

			img,
			source {
				display: block;
				@media (max-width: 767px) {
					width: 100%;
					margin: 0;
				}
			}

			@media (max-width: 767px) {
				margin: 360px 0 0 0;
			}
		}

		// img {

		// 	&:nth-of-type(2) {
		// 		margin: 160px 0 0 0;
		//         max-width: 100%;
		// 		@media (max-width: 1230px) {
		// 			margin: -45px 0 -80px 0;
		// 		}
		// 	}

		// }
	}

	&__man-1 {
		position: absolute;
		top: -40px;
		right: -18px;

		@media (max-width: 1230px) {
			position: static;
		}

		@media (max-width: 767px) {
			position: absolute;
			right: -89px;
			top: -82px;
			z-index: -1;
		}
	}

	&__man-2 {
		position: absolute;

		top: 700px;
		left: -86px;
		max-width: 100%;

		@media (max-width: 1230px) {
			position: static;
		}

		@media (max-width: 767px) {
			position: static;
			top: 750px;
			margin: -43px 0 0 calc(50% - 120px / 2 + 75.5px);
		}
	}
}

.hyde-nation {
	margin: 226px 0 0 0;

	@media (max-width: 767px) {
		margin: -32px 0 0 0;
	}
	// .hyde-nation__container
	&__container {
		display: flex;

		display: -ms-flexbox;

		display: -webkit-flex;
		// justify-content: space-between;
		max-width: 100%;

		@media (max-width: 1172px) {
			flex-direction: column;
			text-align: center;
			align-items: center;
		}
	}
	// .hyde-nation__title
	&__title {
		margin: 0 63px 0 0;

		h4 {
			max-width: 640px;
			font-family: "Play";
			font-style: normal;
			font-weight: 700;
			font-size: 96px;
			line-height: 111px;

			color: $addColor;

			text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
			margin: 0 0 32px 0;

			@media (max-width: 1172px) {
				max-width: 100%;
				margin: 0 0 24px 0;
			}

			@media (max-width: 767px) {
				font-size: 48px;
				line-height: 56px;
			}
		}
		@media (max-width: 1172px) {
			margin: 0 0 24px 0;
			order: 2;
		}
	}
	// .hyde-nation__subtitle
	&__subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		/* or 150% */

		color: $primaryColor;

		max-width: 520px;

		@media (max-width: 1172px) {
			max-width: 100%;
		}
	}

	img {
		max-width: 100%;
		width: 514px;
		@media (max-width: 1172px) {
			order: 1;
			margin: 0 0 24px 0;
		}
	}
}

.percent {
	margin: 105px 0 0 0;
	// .percent__container
	&__container {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		max-width: 100%;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 767px) {
			flex-direction: column;
			-ms-flex-direction: column;
		}
	}
	// .percent__pie
	&__pie {
		margin: 0px 30px 0 109px;

		@media (max-width: 1310px) {
			margin: 0px 30px 0 0px;
		}

		@media (max-width: 767px) {
			margin: 0 0 48px 0;
		}

		img {
			@media (max-width: 767px) {
				max-width: 100%;
			}
		}
	}
	// .percent__info
	&__info {
		max-width: 640px;

		@media (max-width: 767px) {
			max-width: 100%;
		}
	}
	// .percent__text
	&__text {
		width: 100%;
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		/* or 150% */

		color: $primaryColor;
		margin: 0 0 60px 0;
	}
	// .percent__list
	&__list {
		max-width: 100%;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		justify-content: space-between;
		align-items: center;
		// max-width: 560px;
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	}
	// .percent__item
	&__item {
		margin: 0 10px 0 0;

		@media (max-width: 978px) {
			width: 33%;
			text-align: center;
		}

		@media (max-width: 767px) {
			width: calc(50%-10px);
		}

		&:last-of-type {
			margin: 0;
		}
		span {
			font-family: "Play";
			font-style: normal;
			font-weight: 700;

			/* identical to box height */

			color: #ff2020;

			text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
			display: block;
		}

		&:nth-of-type(1) {
			span {
				font-size: 64px;
				line-height: 74px;
				margin: 0 0 4px 0;
			}
		}

		&:nth-of-type(2) {
			span {
				font-size: 54px;
				line-height: 62px;
				margin: 12px 0 4px 0;
			}
		}

		&:nth-of-type(3) {
			span {
				font-size: 48px;
				line-height: 56px;
				margin: 17px 0 5px 0;
			}

			@media (max-width: 978px) {
				margin: 0 0 0 0;
			}
		}

		&:nth-of-type(4) {
			@media (max-width: 978px) {
				margin: 0 14px 0 0;
			}
			span {
				font-size: 40px;
				line-height: 46px;
				margin: 25px 0 7px 0;
			}
		}

		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		/* identical to box height */

		color: #ffffff;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		-ms-flex-direction: column;
	}
}

.design {
	margin: 230px 0 0 0;
	@media (max-width: 1310px) {
		margin: 135px 0 0 0;
	}
	// .design__container
	&__container {
		max-width: 100%;
		position: relative;
		@media (max-width: 1310px) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .design__block-1
	&__block-1 {
		max-width: 514px;
		margin: 0 74px 0 52px;
		@media (max-width: 1310px) {
			margin: 0 0px 32px 0px;
			max-width: 100%;
		}
	}
	// .design__title
	&__title {
		span {
			color: $addColor;
			display: block;
			margin: 0 0 -16px 0;
			@media (max-width: 767px) {
				margin: 0;
			}
		}
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 96px;
		line-height: 111px;
		/* identical to box height */
		margin: 0 0 51px 0;

		@media (max-width: 1310px) {
			margin: 0 0 32px 0;
		}

		@media (max-width: 767px) {
			font-size: 48px;
			line-height: 56px;
		}

		color: $primaryColor;
		@media (max-width: 1310px) {
			text-align: center;
		}
	}
	// .design__georgiy
	&__georgiy {
		position: absolute;
		right: 0;
		top: 0;
        max-width:41%;
		@media (max-width: 1310px) {
			position: static;
			margin: 0 0 32px 0;
		}
	}
	// .design__subtitle
	&__subtitle {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		/* or 150% */
		max-width: 426px;

		color: $primaryColor;

		span {
			color: $addColor;
		}
		@media (max-width: 1310px) {
			text-align: center;
		}
	}
	&__block-2 {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;
		@media (max-width: 1310px) {
			align-items: center;
		}
	}
}

.twitter {
	// .twitter__container
	margin: 292px 0 0 0;
	@media (max-width: 1530px) {
		margin: 24px 0 0 0;
		overflow: hidden;
	}
	// overflow: hidden;
	&__container {
		max-width: 100%;
		flex-direction: row;
		position: relative;

		@media (max-width: 1530px) {
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-direction: column;
			-ms-flex-direction: column;
		}
	}
	// .twitter__feed
	&__feed {
		max-width: 223px;
		text-align: left;
		font-family: "Play";
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 74px;
		margin: 0 137px 0 0;
		color: $primaryColor;
		@media (max-width: 1530px) {
			max-width: 100%;
			text-align: center;
			margin: 0px 0 32px 0;
		}

		@media (max-width: 767px) {
			font-size: 48px;
			line-height: 56px;
		}
		i {
			display: block;
			margin: 0 0 19px 0;
			color: $addColor;
		}
	}
	// .twitter__page
	&__page {
		min-width: 560px;
		min-height: 763px;
		background: $addColor;
		border-radius: 8px;

		@media (max-width: 1530px) {
			min-width: 0px;
			min-height: 0px;
			max-width: 100%;
			aspect-ratio: 0.73;
		}
	}
	img {
		position: absolute;
		right: -96px;
		top: -280px;
		z-index: -1;

		@media (max-width: 1530px) {
			position: static;
			margin: 0px 0 -100px -9.1%;
		}
	}
}

.footer {
	margin: 115px 0 0px 0;
	padding: 0 0 100px 0;

	@media (max-width: 767px) {
		margin: 71px 0 0px 0;
		padding: 0 0 49px 0;
	}
	// .footer__container
	&__container {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		justify-content: space-between;
		max-width: 100%;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .footer__logo
	&__logo {
		margin: 0 0 39px 0;
	}
	// .footer__social-links
	&__social-links {
		font-family: "Play";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: right;

		color: #7c7c7c;

		@media (max-width: 767px) {
			text-align: center;
		}

		ul {
			margin: 0 0 20px 0;
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-direction: row;
			-ms-flex-direction: row;
			justify-content: flex-end;
			@media (max-width: 767px) {
				justify-content: center;
			}
		}

		li {
			margin: 0 16px 0 0;
			&:last-of-type {
				margin: 0;
			}

			i {
				color: $addColor;
			}
		}
	}
}

.burger__btn.active {
	&::before {
		content: "";
		transform: rotate(-45deg);
		top: 18px;
		left: 11px;
	}
	&::after {
		content: "";
		transform: rotate(45deg);
		top: 18px;
		left: 12px;
	}
}

.burger__menu.active {
	left: 0;
	top: 0;
	overflow: auto;
}

body.active {
	overflow: hidden;
}
>>>>>>> 1b288fb4deee45a69d98493826b9d384e14dd474
